* {
  font-family: courier;
  font-weight: lighter;
  color: white;
  text-align: center;
  background-color: #C7C8F0;
}


a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.box{
  margin-top:10%;
}


.impressum_headline {
  font-size: 25px;
  padding-bottom: 1%;
}

p{
  display: inline-block;
  width: 100%;
  padding: 1% 0;
}

.adress {
  font-size: 14px;
margin-bottom: -1%;

}

.telefon {
  font-size: 14px;

}

.street {
  font-size: 14px;

}

.mail {
  font-size: 14px;

}
